body{
    margin: 12;
    padding: 10;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f5edff, #ffffff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 40%;      
    margin: 0 auto;   
}

.logo-circle {
    width: 80px;
    height: 80px;
    background-color: #a020f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.note {
    color: white;
    font-size: 36px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.subtitle {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 15px;
    color: #555;
}

.progress-wrapper {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 4px;
    margin: 16px 0;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: #a020f0;
    border-radius: 4px;
    transition: width .3s ease;
    
}

.answers-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.answer-btn {
    
    height: 30px;
    width: 150px;
    
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    min-height: 80px;
    margin: 10px;
}

.answer-btn:hover {
    background-color: #c783f1;
    box-shadow: 0 8px 14px rgba(0,0,0,0.15);
    transform: translateY(-2px);
}

.answer-btn.active {
    background-color: #a020f0;
    color: white;
    border-color: #a020f0;
}

.answer-btn:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
    color: #999;
}



.next-btn {
    background-color: #a020f0;
}

.buttons {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.buttons button {
    flex: 1;                     
    padding: 14px 20px;          
    margin: 0 10px;              
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 12px;         
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    margin-top: 15px;
}

#back-btn {
    background-color: #f0f0f0;
    color: #333;
}

#back-btn:hover {
    background-color: #e0e0e0;
}

.next-btn {
    background-color: #a020f0;
    color: white;
}

.next-btn:hover {
    background-color: #a020f0;
}

.next-btn:disabled {
    background-color: #a020f0;
    cursor: not-allowed;
    color: #eee;
}

.box {
   
    border-radius: 12px ; 
    background-color: #ffffff;
    
}

.box1 {
    border: 50px #333;
}

.logoIndex img {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px auto;
    display: block;
}



